{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nibh ac risus imperdiet varius. Vivamus quam augue, ornare in tortor sit amet, hendrerit condimentum augue. Sed a orci semper. </p>  
    </div>
{% endblock %}